header {
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
}

.btn-color{
    color: #fff;
    background-color: #351c75;
    border-color: #351c75;
}

.submit{
    margin: auto auto;
}